<link rel="stylesheet" href="../css/header_style.css">
<link rel="stylesheet" href="../css/root.css">
<script src="../scripts/header.js"></script>

<header class="Dashboard-header" id="MyHeader">
    <div class="card logo-card">
        <h2 class="Dashboard-text">
            <a href="../pages/user_dashboard.html" class="Dashboard-links">Dashboard</a>
        </h2>
    </div>

    <div class="card nav-links">
        <h2 class="Dashboard-text"><a class="Dashboard-links" href="../pages/project_dash.html">Project Dashboard</a></h2>
        <h2 class="Dashboard-text"><a class="Dashboard-links" href="../pages/profile.html">Profile</a></h2>
        <h2 class="Dashboard-text"><a class="Dashboard-links" href="#">Fourth</a></h2>
    </div>

    <a href="javascript:void(0);" class="icon" onclick="navFunction()">&#9776;</a>
</header>