<link rel="stylesheet" href="../css/header_style.css">
<script src="../scripts/header.js" defer></script>

<header class="Dashboard-header" id="MyHeader">
    <div class="card logo-card">
        <h2 class="Dashboard-text">
            <a href="../pages/user_dashboard.html" class="Dashboard-links">Dashboard</a>
        </h2>
    </div>

    <div class="card nav-links">
        <a class="Dashboard-text Dashboard-links" href="/project-dash">Projects</a>
        <a class="Dashboard-text Dashboard-links" href="/profile">Profile</a>
    </div>

    <a href="javascript:void(0);" class="icon" onclick="navFunction()">&#9776;</a>
</header>