.Dashboard-footer {
    background-color: var(--card);
    border-radius: var(--radius);
}

.Dashboard-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 16px;
    background-color: var(--card);
    border: var(--border);
    color: var(--text);
    bottom: 0;
}

.Dashboard-text {
    margin: 0;
    font-size: 1rem;
    color: var(--muted);
}