.link-style {
    text-decoration: none;
    font-size: 1.3em;
    color: black;
}

.link-style:hover {
    color: lightblue;
}

@media (max-width: 768px) {
    .central-container {
        width: 90%;
        margin-top: 0px;
        font-size: 1em;
        padding: 15px;
    }
}
