.link-style {
    text-decoration: none;
    font-size: 1.3em;
    color: black;
}

.link-style:hover {
    color: lightblue;
}

.landing-card {
    border: var(--border);
    border-radius: var(--radius);
}

#content-body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

#strapline {
    font-size: 3em;
    font-style: italic;
    font-weight: 800;
}

@media (max-width: 768px) {
    .central-container {
        width: 90%;
        margin-top: 0px;
        font-size: 1em;
        padding: 15px;
    }
}
