dialog::backdrop {
    background: rgba(0, 0, 0, 0.7);
}

.dialog-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notif-message {
    font-size: 2em;
}