@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --font: 'Poppins', sans-serif;

  --bg: #d7d7d7;
  --card: rgba(255, 255, 255, 0.08);
  --card2: rgba(255, 255, 255, 0.12);
  --card3: rgba(47, 113, 226, 0.381);

  --text: #000000;
  --text-2: #000000;

  --muted: rgb(32, 133, 228);
  --accent: #7c5cff;
  --good: #3ddc97;
  --bad: #ff5c7a;

  --button-disabled: #6a6a6a;
  --button-active: #4267B2;

  --shadow: 0 18px 50px rgba(0, 0, 0, 0.35);
  --scrollbar-color: #4267B2;

  --border: 2px solid #000000;

  --radius: 18px;

  --button-bg : rgb(142, 142, 142);
  --button-text :white;
}

* { box-sizing: border-box; }

body{
  margin: 0;
  min-height: 110vh;
  padding: 16px 16px 14px 16px;
  display: grid;     
  gap: 24px;       
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
  background:
    radial-gradient(900px 500px at 10% 10%, rgba(124, 92, 255, .25), transparent 60%),
    radial-gradient(700px 450px at 85% 20%, rgba(61, 220, 151, .18), transparent 60%),
    radial-gradient(900px 600px at 60% 90%, rgba(255, 92, 122, .12), transparent 60%),
    var(--bg);
  color: var(--text);
  overflow-y: scroll;
}

button {
    background: var(--accent);
    color: var(--text);
    border: none;
    border-radius: var(--radius);
    padding: 0.75rem 1rem;
    font-family: var(--font);
    font-size: 1rem;
    cursor: pointer;
    transition: opacity 0.2s;
}

button:hover {
    opacity: 0.85;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ms-sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    border: var(--border);
    background-color: var(--card);
    text-decoration: none;
    width: 250px;
    padding: 10px 0;
    margin: 0;
    font-family: "Segoe UI", var(--font);
    font-weight: 600;
    border-radius: var(--radius);
}

#ms-logo {
    margin-right: 12px;
}
