*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    color: var(--text);
}

body {
    background-color: var(--bg);
    scrollbar-color: #4267B2;
}

.button-primary {
    background-color: var(--button-active);
    color: #e2e2e2;
    border-radius: 5px;
    border: none;
    padding: 7px;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-secondary {
    background-color: var(--button-disabled);
}
