body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome{
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
}

.create-new-button {
    font-size: 1.5em;
}

.projects-outer-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-height: 0;
    color: black;
}

.projects-inner-container {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    padding: 20px 0;
}

.projects-list {
    list-style: none;
    width: 90%;
    overflow: auto;
}

.project-list-item {
    border-bottom: solid 1px black;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}